<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>TY 首页</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
    <div id="app"></div>
</body>

</html>


<script type="text/javascript">
	var TY_Client_Domain = "https://greatbee-ty.oss-cn-hangzhou.aliyuncs.com/client/";
    window.loadTY = function(hash){
        console.log("load hash=" + hash);

        function addLink(url) {
            var link = document.createElement("link");
            link.type = "text/css";
            link.rel = "stylesheet";
            link.href = url;
            var head = document.getElementsByTagName("head")[0];
            head.appendChild(link);
        }

        function addScript(url) {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = url;
            document.body.appendChild(script);
        }

        addLink(TY_Client_Domain + "main." + hash + ".css");
        addScript(TY_Client_Domain + "main." + hash + ".js");
    }

    window.loadTY("f5179edefcff1821e698");

    // var iframe = document.createElement("iframe");
    // iframe.src = TY_Client_Domain + "hash.html?time=" + new Date().getTime();
    // iframe.id = "ty";
    // iframe.width = 0;
    // iframe.height = 0;
    // iframe.style.display = 'none';
    // document.body.appendChild(iframe);

    // iframe.onload = function (e) {
        // var STATIC_HASH = "staticHash";
        // //解决跨域问题，用cookie来实现
        // function getCookie(name) {
        //     var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        //     if (arr = document.cookie.match(reg))
        //         return unescape(arr[2]);
        //     else
        //         return null;
        // }
        // var hash = iframe.loadHashKey();
        // _load(hash):
    // };
</script>
